[flake8]
# Available options here: https://flake8.pycqa.org/en/latest/user/options.html
format = default
exclude =
    __pycache__
    __init__.py

filename = *.py

statistics = True
show_source = True
count = True

extend-ignore =
    E203    ; Whitespace before ':' (https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes)
    W503    ; Line break before a binary operator is valid
    W605    ; Invalid escape sequence
    E402    ; Module level import not at top of the file

max_line_length = 120
max_doc_length = 120

max_complexity = 15